<h2>FlashPrep App</h2>
<p>Welcome to FlashPrep!</p>
<p>Your own study portal</p>
<p>Login / Sign Up</p>

<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="userName">Username</label>
        <input
          type="text"
          class="form-control"
          id="userName"
          required
          [(ngModel)]="currentUser.userName"
          name="userName"
        />
      </div>
      <br>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          id="password"
          required
          [(ngModel)]="currentUser.password"
          name="password"
        />
      </div>
      <br>
      <button (click)="saveUserName()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>Login successful!</h4>
      <button class="btn btn-success" (click)="newUser()">Next</button>
    </div>
  </div>
</div>
